USE [IIB_PROD]
GO
/****** Object:  Table [claPacsMod1Mod2]    Script Date: 4/7/2017 1:48:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [claPacsMod1Mod2](
	[IN] [varchar](50) NULL,
	[OUT] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [claPacsMod1Mod2] ([IN], [OUT]) VALUES (N'DX|ARTANK', N'RF|CR')
GO
INSERT [claPacsMod1Mod2] ([IN], [OUT]) VALUES (N'DX|ARTELB', N'RF|CR')
GO
INSERT [claPacsMod1Mod2] ([IN], [OUT]) VALUES (N'DX|ARTHIP', N'RF|CR')
GO
